extends layout

block content
  h1= title
  address
        a(href='http://localhost:7700/classes') Classes
  address
        a(href='http://localhost:7700/termosdeindice') Termos de índice
  p Welcome to #{title}
